body {
    font-family: "Lilita+One", sans-serif;
}

html {
    background-color: #FAD589;
}
h1 {
    margin-left: 150px;
    margin-bottom: 50px;
    color: #2F470A;
}

#jingle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 24px;
}

.input-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 30px;

    .input-element {
        background-color: #FDF1D8;
        border-radius: 5px;
    }
}

.submit {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;


    .submit-button {
        background-color: #FDF1D8;
    }
    .submit-button:hover {
        background-color: #F3CFA5;
    }

}

.output {
    display: block;
    border-style: solid;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;
    height:fit-content;
    border-color: #AC5620;
    border-width: 10px;


    /* Loader er lavet med hjælp fra: https://www.w3schools.com/howto/howto_css_loader.asp */
    .loader {
        display: flex;
        margin-left: 50px;
        margin-top: 50px;
        border: 16px solid #FAD589;
        border-top: 16px solid #AC5620;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    #recipe-output {
        padding: 10px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}